[Desktop Entry]
Name=Angelfish
Comment=Mobile web browser
GenericName=Web Browser
Icon=org.kde.mobile.angelfish
Exec=angelfish %u
Type=Application
X-DocPath=angelfish/index.html
Categories=Qt;KDE;Network;WebBrowser;
Terminal=false
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
